---
import Filter from '../components/Filter.astro';
import Header from '../components/Header.astro';
import Tabla from '../components/Tabla.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';

---

<Layout title="Venezuelans Who Design">
	<Header/>
	<main>
		<h1>Venezuelans<br> Who Design</h1>
		<Tabla/>
		<Filter/>
	</main>
</Layout>
<style>
	h1 {
    margin: 1rem 0;
    font-size: 4.5rem;
    font-weight: 600;
  }
  
  @media screen and (min-width: 300px) {
    
    h1{
		font-size: 2.5rem;
	}
  }
</style>