@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;600&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Figtree", sans-serif;
  font-size: 20px;
  line-height: 1.5rem;
  background: #fff;
  color: #000;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding: 2rem;
  position: relative;
}

a {
  text-decoration: none;
}

.moreabout a:hover {
  color: #999999;
}

/* Type 
 ----------------------------- */

h1,
.f1 {
  font-size: 4.5em;
  line-height: 1.2em;
  /* letter-spacing: -0.03em; */
  font-weight: 600;
  letter-spacing: 0px;
  /* font-feature-settings: "ss08" on, "ss02" on, "ss01" on, "salt" on, "cpsp" on; */
}

h3 {
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 600;
  padding: 0;
  margin: 0 0 1rem 0;
  letter-spacing: 0px;
}

p {
  margin: 0.25rem 0 4rem 0;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5em;
}

/* Utils 
 ----------------------------- */
.m0 {
  margin: 0;
}
.p0 {
  padding: 0;
}

/* Table 
 ----------------------------- */
table {
  width: 100%;
}

table a {
  font-weight: 600;
}

table tbody td,
table thead td {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

table.large thead {
  font-size: 1rem;
}

table.large tbody {
  font-size: 1.7rem;
}

table tbody tr {
  background: #fff;
  cursor: pointer;
  transition: background 150ms ease-in-out;
}

table tbody tr:hover {
  background: rgba(0, 0, 0, 0.05);
}

/* Rethink is the best aproch */
table thead td {
  padding-bottom: 0.8em;
}

table tbody td {
  padding-bottom: 0.6em;
  padding-top: 0.6em;
}

table tbody tr:last-child td {
  border-bottom: none;
}

/* General 
 ----------------------------- */

.sol {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.letter {
  display: inline-block;
}

.letter:nth-child(-n + 12) {
  color: #74acdf;
  color: color(display-p3 1 0.36 0);
}

.title {
  padding-top: 26vh;
}

.extend span {
  display: inline-block;
}

.tileArtist {
  margin: 0;
  padding: 0;
  padding-top: 26vh;
}

.arrowback {
  font-size: 3rem;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  transition: transform 200ms ease;
}

.arrowback:hover {
  transform: rotate(35deg);
}

a.link {
  color: currentColor;
  position: relative;
  transition: all 150ms ease;
}

a.link:before {
  content: "";
  width: 100%;
  height: 1.5px;
  background: currentColor;
  position: absolute;
  bottom: 0;
}

a.link[target="_blank"] {
  margin-right: 0.8em;
}

a.link[target="_blank"]:after {
  content: "→";
  position: absolute;
  right: -1.2em;
  top: 50%;
  transform: translateY(-42.5%) rotate(-45deg);
  font-size: 0.65em;
}

.sticky {
  display: table;
}
.sticky tr {
  position: fixed;
  width: 95vw;
  background: #fff;
  padding: 1.5rem 0 1rem 0;
  display: table;
  top: -5rem;
  transform: translateY(4rem);
  transition: transform 400ms ease-out;
}
.sticky td {
  border-bottom: none;
}

.check svg {
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.check.active svg {
  opacity: 1;
  transform: translateY(0);
}

.filterIsOpen {
  opacity: 0.2;
  transition: opacity 300ms ease-in-out;
  cursor: pointer;
}

.filterIsOpen table {
  pointer-events: none;
}

/* Responsive
 ----------------------------- */
@media (max-width: 640px) {
  :root {
    font-size: 12px;
  }

  h1,
  .f1 {
    font-size: 4rem;
    letter-spacing: -0.02em;
  }

  svg {
    fill: #000;
  }

  .dn {
    display: none;
  }

  .sol {
    display: none;
  }

  .tileArtist {
    padding: 2rem 0;
  }

  .arrowback {
    transition: none;
  }

  .arrowback:hover {
    transform: rotate(0deg);
  }

  .extend span {
    display: inline;
  }
}

@media (min-width: 1600px) {
  :root {
    font-size: 18px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000;
    color: #fff;
    letter-spacing: 0.3px;
  }
  svg {
    fill: #fff;
  }

  .arrowback:not(.nominate) {
    color: #fff;
  }

  a.link {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    -moz-transition: color 0.15s ease;
    transition: color 0.15s ease;
  }

  .sticky tr {
    background: #000;
  }

  table tbody td,
  table thead td {
    border: none;
    border-bottom: 1px solid #363636;
  }

  table tbody tr {
    background: #000;
  }

  table tbody tr:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.05);
  }
}
