@font-face {
  font-family: 'Auto-bold';
  src:url('/fonts/AutoPro-Bold.woff') format('woff');
}


@font-face {
  font-family: 'Auto-black';
  src:url('/fonts//AutoPro-Black.woff') format('woff');
}

@font-face {
  font-family: 'Auto-italic';
  src:url('/fonts//AutoPro-BoldItalic1.woff') format('woff');
}

@font-face {
  font-family: 'Auto-italic-2';
  src:url('/fonts//AutoPro-BoldItalic2.woff') format('woff');
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family:"Auto-bold", "-apple-system, BlinkMacSystemFont, Helvetica Now Display", "Helvetica Neue", "Helvetica";
  font-size: 20px;
  line-height: 1.5rem;
  letter-spacing: .2px;
  background: #fff;
  color: #111;
  margin: 0;
  padding: 0;
}



.container {
  width: 95vw;
  margin: 3rem auto;
  position: relative;
}

a {
  text-decoration: none;

}

.moreabout a{
  font-family: "Auto-bold";
}

.moreabout a:hover{
  /* font-family: "Auto-italic"; */
  color: #FF6B00;
  color: color(display-p3 1 0.36 0);
}

/* Type 
 ----------------------------- */

h1,
.f1 {
  font-family:"Auto-black";
  font-size: 5.625rem;
  /* letter-spacing: -0.03em; */
  line-height: 100%;
  font-weight: 500;
  letter-spacing: 0px;
  /* font-feature-settings: "ss08" on, "ss02" on, "ss01" on, "salt" on, "cpsp" on; */
}

h3{
font-size:1.5rem;
line-height: 1.7rem;
padding:0;
margin:1rem 0 0 0;
letter-spacing: 0px;
}

p{
  margin: .25rem 0 4rem 0;
}


/* Utils 
 ----------------------------- */
.m0 {
  margin: 0;
}
.p0 {
  padding: 0;
}

/* Table 
 ----------------------------- */
table {
  width: 100%;
}

table a{
  font-family:"Auto-bold";
}

table tbody td,
table thead td {
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

table.large thead {
  font-size: 1rem;
}

table.large tbody {
  font-size: 1.7rem;
}

table tbody tr {
  background: #fff;
  cursor: pointer;
  transition: background 150ms ease-in-out;
}


table tbody tr:hover {
  background: rgba(0,0,0,0.05);
}

/* Rethink is the best aproch */
table thead td {
  padding-bottom: 0.8em;
}

table tbody td {
  padding-bottom: 0.6em;
  padding-top: 0.6em;
}

table tbody tr:last-child td {
  border-bottom: none;
}

/* General 
 ----------------------------- */

.letter {
  display: inline-block;

}

.letter:nth-child(-n+5){
  color: #FF6B00;
  color: color(display-p3 1 0.36 0);
}


.title {
  padding-top: 26vh;
}

.auxNav {
  position: absolute;
  top: 0;
}

.extend span {
  display: inline-block;
}

.tileArtist {
  margin: 0;
  padding: 0;
  padding-top: 26vh;
}

.arrowback {
  font-size: 3rem;
  color:#111;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  transition: transform 200ms ease;
}

.arrowback:hover {
  transform: rotate(35deg);
}

a.link {
  color: #6e6e73;
  position: relative;
  transition: all 150ms ease;
}

a.link:hover{  
  font-family: "Auto-italic";
}


a.link:before {
  width: 100%;
  height: 90%;
  content: "";
  position: absolute;
  background-size: 1px 1em;
  -moz-transition: box-shadow .15s ease;
  transition: box-shadow .15s ease;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
}




a.link:after {
  font-family: Helvetica Now Display, Helvetica Neue, Helvetica;
  /* content: " \2197 "; */
  transition: transform 150ms ease;
}


.sticky {
  display: table;
}
.sticky tr {
  position: fixed;
  width: 95vw;
  background: #fff;
  padding: 1.5rem 0 1rem 0;
  display: table;
  top: -6rem;
  transform: translateY(4rem);
  transition: transform 400ms ease-out;
}
.sticky td {
  border-bottom: none;
}

.check svg {
  opacity: 0;
}

.check.active svg {
  opacity: 1;
}

.filterIsOpen {
  opacity: 0.2;
  transition: opacity 300ms ease-in-out;
  cursor: pointer;
}

.filterIsOpen table {
  pointer-events: none;
}

/* Responsive
 ----------------------------- */
@media (max-width: 480px) {
  :root {
    font-size: 12px;
  }

  h1,
  .f1 {
    font-size: 4rem;
    letter-spacing: -0.02em;     
  }



  .dn {
    display: none;
  }

  .tileArtist {
    padding: 2rem 0;
  }

  .arrowback {
    transition: none;
  }

  .arrowback:hover {
    transform: rotate(0deg);
  }

  .extend span {
    display: inline;
  }
}

@media (min-width: 1600px) {
  :root {
    font-size: 18px;
  }
}



@media (prefers-color-scheme: dark) {
  body {
  background: #111;
  color: rgba(255,255,255,0.8);  
  letter-spacing: .3px;
  }


  .arrowback {
    color: #fff;
  }
  
  a.link {
    position: relative;
    color: #868689;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    -moz-transition: color .15s ease;
    transition: color .15s ease;
  }

  .sticky tr {
    background: #111;
  }

  table tbody td,
  table thead td {
  border: none;
  border-bottom: 1px solid #363636;
}

  table tbody tr {
    background: #111;
  }
  
  table tbody tr:hover {
    color:#fff;
    background: rgba(255,255,255,0.05);
  }

}
