---
---
<ul>
    <li class="nav-links"><a href="/about">About</a></li>
    <li class="nav-links"><a href="/nominate">Nominate</a></li>
    <li class="nav-links"><a href="https://ko-fi.com/venezuelanswhodesign">Donate</a></li>
</ul>
<style>
    ul {
          padding: 0;
          margin: 0;
          display: flex;
        }

        ul li {
          list-style: none;
          margin-right: 2.2rem;
        }

        ul li a {
          color: #eeeeee;
          text-decoration: none;
          transition: color 150ms ease;
        }

        ul li a:hover {
          color: #fff;
        }

        @media (prefers-color-scheme: dark) {
          ul li a {
            color: #fff;
          }

          ul li a:hover {
            color: rgba(255, 255, 255, 0.5);
          }
        }

</style>