---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Analytics from '../components/Analytics.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<Analytics id="G-QZZSZ1FT5Q"/>
	</head>
	<body>
	<slot />
	<!-- ... el resto de tu layout ... -->
<script>
    document.getElementById("toggleSidebarBtn")?.addEventListener("click", toggleSidebar);
    document.getElementById("closeSidebarBtn")?.addEventListener("click", closeSidebar);

    function toggleSidebar() {
        const sidebar = document.querySelector('.sidebar');
        if (sidebar.classList.contains('open')) {
            sidebar.classList.remove('open');
        } else {
            sidebar.classList.add('open');
        }
    }

    function closeSidebar() {
        document.querySelector('.sidebar').classList.remove('open');
    }
</script>
	</body>
	
</html>

